# # Server Configuration
# NODE_ENV=development
# PORT=3001
# API_URL=http://localhost:3001
# CORS_ORIGIN=http://localhost:3000

# # Database Configuration
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=DBN_79BI
# DB_USER=postgres
# DB_PASS=your_password

# # Authentication
# JWT_SECRET=your_jwt_secret_key_change_this_in_production
# JWT_EXPIRES_IN=1d

# # Azure AD Authentication
# AZURE_TENANT_ID=your_azure_tenant_id
# AZURE_CLIENT_ID=your_azure_client_id
# AZURE_CLIENT_SECRET=your_azure_client_secret  # Optional for some flows
# Server Configuration
NODE_ENV=development
PORT=3001
API_URL=http://localhost:3002
CORS_ORIGIN=http://localhost:3000


# Local Railway PostgreSQL
DB_HOST=caboose.proxy.rlwy.net
DB_PORT=11748
DB_NAME=railway
DB_USER=postgres
DB_PASS=mcPchtZtcMOVfYNVRniscAenSQeHBqgU

# Authentication
JWT_SECRET=Qp8sLm3Zt6yWn2Vr9xCkH4jU5fRbDa1G
JWT_EXPIRES_IN=1d


# Azure AD Authentication
AZURE_TENANT_ID=e3e8ceac-1320-4bef-8ea0-fc76f83a121c
AZURE_CLIENT_ID=f8b48db4-210a-46ad-9f38-a0a964d09b7b
AZURE_CLIENT_SECRET=26a88239-5ef2-4081-bd93-b039524a1cc9

# AZURE_TENANT_ID=dummy
# AZURE_CLIENT_ID=dummy
# AZURE_CLIENT_SECRET=dummy
